<div class="footer container">
    <div class="back-to-top">
        <a href="" alt="Back to top" title="Back to top">Back to top</a>
    </div>
    <div class="offsite-links">
        <a class="twitter-link" href="http://twitter.com/pingfengluo" alt="Twitter" title="Twitter">Twitter</a>
        &nbsp;&nbsp;&nbsp;
        <a class="github-link" href="https://github.com/pingfengluo" alt="GitHub" title="GitHub">GitHub</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/atom.xml" alt="Feed" title="feed">feed </a>
    </div>
</div>
