<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASR algorithm engineer {% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta property="og:title" content="pingfeng luo{% if page.title %} | {{ page.title }}{% endif %}" />
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://pingfengluo.github.com/static/images/logo-big.png" />
    <meta property="article:author" content="http://pingfengluo.github.com/about/" />
    <link rel="author" href="https://plus.google.com/113142563816697551777" />
    <link rel="canonical" href="http://pingfengluo.github.com{{ page.url }}{% if page.category == 'projects' or page.category == 'blog' %}/{% endif %}" />
    <meta property="og:url" content="http://pingfengluo.github.com{{ page.url }}{% if page.category == 'projects' or page.category == 'blog' %}/{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/skeleton.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/syntax.css" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
