
<!-- U-Boot -->
<article class="articleScrap">
    <aside class="asideScrap">
        U-Boot
    </aside>
    <section class="sectionScrap">
        <a href="https://github.com/pingfengluo/U-Boot.git" target="_blank"><img src="http://i.imgur.com/IjklP23.png" width="30%" alt="git" title="U-Boot-2013" class="imgScrap" /></a>
        <br />
        a U-Boot Branch for mini2440 (arm9) board development<br/>
        <a href="https://github.com/pingfengluo/U-boot">https://github.com/pingfengluo/U-Boot.git</a>
    </section>
</article>

